// SPDX-License-Identifier: GPL-2.0+ OR X11
/*
 * (C) Copyright 2017 Theobroma Systems Design und Consulting GmbH
 */

/dts-v1/;
#include "rockchip/rk3368.dtsi"

/ {
	model = "Theobroma Systems RK3368-uQ7 SoM";
	compatible = "tsd,rk3368-uq7", "tsd,lion", "rockchip,rk3368";

	aliases {
		mmc1 = &emmc;
		mmc0 = &sdmmc;
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x80000000>;
	};

	ext_gmac: gmac-clk {
		compatible = "fixed-clock";
		clock-frequency = <125000000>;
		clock-output-names = "ext_gmac";
		#clock-cells = <0>;
	};

	vcc_sys: vcc-sys-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_sys";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
		regulator-boot-on;
	};
	cpus {
		#address-cells = <0x2>;
		#size-cells = <0x0>;

		cpu-map {
			cluster0 {
				core0 {
					cpu = <&cpu_l0>;
				};
				core1 {
					cpu = <&cpu_l1>;
				};
				core2 {
					cpu = <&cpu_l2>;
				};
				core3 {
					cpu = <&cpu_l3>;
				};
			};

			cluster1 {
				core0 {
					cpu = <&cpu_b0>;
				};
				core1 {
					cpu = <&cpu_b1>;
				};
				core2 {
					cpu = <&cpu_b2>;
				};
				core3 {
					cpu = <&cpu_b3>;
				};
			};
		};

		cpu_l0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <0x0 0x0>;
			enable-method = "psci";
			clocks = <&cru ARMCLKL>;
			next-level-cache = <&cluster0_l2>;
			operating-points-v2 = <&cluster0_opp>;
		};

		cpu_l1: cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <0x0 0x1>;
			enable-method = "psci";
			clocks = <&cru ARMCLKL>;
			next-level-cache = <&cluster0_l2>;
			operating-points-v2 = <&cluster0_opp>;
		};

		cpu_l2: cpu@2 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <0x0 0x2>;
			enable-method = "psci";
			clocks = <&cru ARMCLKL>;
			next-level-cache = <&cluster0_l2>;
			operating-points-v2 = <&cluster0_opp>;
		};

		cpu_l3: cpu@3 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <0x0 0x3>;
			enable-method = "psci";
			clocks = <&cru ARMCLKL>;
			next-level-cache = <&cluster0_l2>;
			operating-points-v2 = <&cluster0_opp>;
		};

		cpu_b0: cpu@100 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <0x0 0x100>;
			enable-method = "psci";
			clocks = <&cru ARMCLKB>;
			next-level-cache = <&cluster1_l2>;
			operating-points-v2 = <&cluster1_opp>;
		};

		cpu_b1: cpu@101 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <0x0 0x101>;
			enable-method = "psci";
			clocks = <&cru ARMCLKB>;
			next-level-cache = <&cluster1_l2>;
			operating-points-v2 = <&cluster1_opp>;
		};

		cpu_b2: cpu@102 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <0x0 0x102>;
			enable-method = "psci";
			clocks = <&cru ARMCLKB>;
			next-level-cache = <&cluster1_l2>;
			operating-points-v2 = <&cluster1_opp>;
		};

		cpu_b3: cpu@103 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <0x0 0x103>;
			enable-method = "psci";
			clocks = <&cru ARMCLKB>;
			next-level-cache = <&cluster1_l2>;
			operating-points-v2 = <&cluster1_opp>;
		};

		cluster0_l2: l2-cache0 {
			compatible = "cache";
		};

		cluster1_l2: l2-cache1 {
			compatible = "cache";
		};
	};
	cluster0_opp: opp_table0 {
		compatible = "operating-points-v2";
		opp-shared;
		opp-216000000 {
			opp-hz = /bits/ 64 <216000000>;
			opp-microvolt = <950000 950000 1350000>;
			opp-microvolt-L0 = <1050000 1050000 1350000>;
			opp-microvolt-L1 = <950000 950000 1350000>;
			clock-latency-ns = <40000>;
			opp-suspend;
		};
		opp-400000000 {
			opp-hz = /bits/ 64 <400000000>;
			opp-microvolt = <950000 950000 1350000>;
			opp-microvolt-L0 = <1050000 1050000 1350000>;
			opp-microvolt-L1 = <950000 950000 1350000>;
			clock-latency-ns = <40000>;
		};
		opp-408000000 {
			opp-hz = /bits/ 64 <408000000>;
			opp-microvolt = <950000 950000 1350000>;
			opp-microvolt-L0 = <1050000 1050000 1350000>;
			opp-microvolt-L1 = <950000 950000 1350000>;
			clock-latency-ns = <40000>;
		};
		opp-600000000 {
			opp-hz = /bits/ 64 <600000000>;
			opp-microvolt = <950000 950000 1350000>;
			opp-microvolt-L0 = <1050000 1050000 1350000>;
			opp-microvolt-L1 = <950000 950000 1350000>;
			clock-latency-ns = <40000>;
		};
		opp-816000000 {
			opp-hz = /bits/ 64 <816000000>;
			opp-microvolt = <1025000 1025000 1350000>;
			opp-microvolt-L0 = <1125000 1125000 1350000>;
			opp-microvolt-L1 = <1025000 1025000 1350000>;
			clock-latency-ns = <40000>;
		};
		opp-1008000000 {
			opp-hz = /bits/ 64 <1008000000>;
			opp-microvolt = <1125000 1125000 1350000>;
			opp-microvolt-L0 = <1225000 1225000 1350000>;
			opp-microvolt-L1 = <1125000 1125000 1350000>;
			clock-latency-ns = <40000>;
		};
		opp-1200000000 {
			opp-hz = /bits/ 64 <1200000000>;
			opp-microvolt = <1225000 1225000 1350000>;
			opp-microvolt-L0 = <1325000 1325000 1350000>;
			opp-microvolt-L1 = <1225000 1225000 1350000>;
			clock-latency-ns = <40000>;
			
		};
	};
	cluster1_opp: opp_table1 {
		compatible = "operating-points-v2";
		opp-shared;
		clocks = <&cru PLL_APLLB>;
		opp-216000000 {
			opp-hz = /bits/ 64 <216000000>;
			opp-microvolt = <950000 950000 1350000>;
			opp-microvolt-L0 = <1050000 1050000 1350000>;
			opp-microvolt-L1 = <950000 950000 1350000>;
			opp-microvolt-L2 = <950000 950000 1350000>;
			clock-latency-ns = <40000>;
			opp-suspend;
		};
		opp-400000000 {
			opp-hz = /bits/ 64 <400000000>;
			opp-microvolt = <950000 950000 1350000>;
			opp-microvolt-L0 = <1050000 1050000 1350000>;
			opp-microvolt-L1 = <950000 950000 1350000>;
			clock-latency-ns = <40000>;
		};
		opp-408000000 {
			opp-hz = /bits/ 64 <408000000>;
			opp-microvolt = <950000 950000 1350000>;
			opp-microvolt-L0 = <1050000 1050000 1350000>;
			opp-microvolt-L1 = <950000 950000 1350000>;
			opp-microvolt-L2 = <950000 950000 1350000>;
			clock-latency-ns = <40000>;
		};
		opp-600000000 {
			opp-hz = /bits/ 64 <600000000>;
			opp-microvolt = <950000 950000 1350000>;
			opp-microvolt-L0 = <1050000 1050000 1350000>;
			opp-microvolt-L1 = <950000 950000 1350000>;
			opp-microvolt-L2 = <950000 950000 1350000>;
			clock-latency-ns = <40000>;
		};
		opp-816000000 {
			opp-hz = /bits/ 64 <816000000>;
			opp-microvolt = <975000 975000 1350000>;
			opp-microvolt-L0 = <1075000 1075000 1350000>;
			opp-microvolt-L1 = <975000 975000 1350000>;
			opp-microvolt-L2 = <975000 975000 1350000>;
			clock-latency-ns = <40000>;
		};
		opp-1008000000 {
			opp-hz = /bits/ 64 <1008000000>;
			opp-microvolt = <1050000 1050000 1350000>;
			opp-microvolt-L0 = <1150000 1150000 1350000>;
			opp-microvolt-L1 = <1050000 1050000 1350000>;
			opp-microvolt-L2 = <1025000 1025000 1350000>;
			clock-latency-ns = <40000>;
		};
		opp-1200000000 {
			opp-hz = /bits/ 64 <1200000000>;
			opp-microvolt = <1150000 1150000 1350000>;
			opp-microvolt-L0 = <1250000 1250000 1350000>;
			opp-microvolt-L1 = <1150000 1150000 1350000>;
			opp-microvolt-L2 = <1125000 1125000 1350000>;
			clock-latency-ns = <40000>;
		};
		opp-1296000000 {
			opp-hz = /bits/ 64 <1296000000>;
			opp-microvolt = <1225000 1225000 1350000>;
			opp-microvolt-L0 = <1350000 1350000 1350000>;
			opp-microvolt-L1 = <1225000 1225000 1350000>;
			opp-microvolt-L2 = <1200000 1200000 1350000>;
			clock-latency-ns = <40000>;
		};
		opp-1416000000 {
			opp-hz = /bits/ 64 <1416000000>;
			opp-microvolt = <1300000 1300000 1350000>;
			opp-microvolt-L0 = <1350000 1350000 1350000>;
			opp-microvolt-L1 = <1300000 1300000 1350000>;
			opp-microvolt-L2 = <1275000 1275000 1350000>;
			clock-latency-ns = <40000>;
		};
		opp-1512000000 {
			opp-hz = /bits/ 64 <1512000000>;
			opp-microvolt = <1350000 1350000 1350000>;
			opp-microvolt-L0 = <1350000 1350000 1350000>;
			opp-microvolt-L1 = <1350000 1350000 1350000>;
			opp-microvolt-L2 = <1325000 1325000 1350000>;
			clock-latency-ns = <40000>;
		};
	};
};

&uart0 {
	status = "okay";
};

&emmc {
	status = "okay";
	bus-width = <8>;
	cap-mmc-highspeed;
	clock-frequency = <150000000>;
	disable-wp;
	keep-power-in-suspend;
	non-removable;
	num-slots = <1>;
	vmmc-supply = <&vcc33_io>;
	vqmmc-supply = <&vcc18_io>;
	pinctrl-names = "default";
	pinctrl-0 = <&emmc_clk>, <&emmc_cmd>, <&emmc_bus8>;
};

&sdmmc {
	status = "okay";
};

&gmac {
	status = "okay";
	phy-supply = <&vcc33_io>;
	phy-mode = "rgmii";
	clock_in_out = "input";
	snps,reset-gpio = <&gpio3 RK_PB3 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <2 10000 50000>;
	assigned-clocks = <&cru SCLK_MAC>;
	assigned-clock-parents = <&ext_gmac>;
	pinctrl-names = "default";
	pinctrl-0 = <&rgmii_pins>;
	tx_delay = <0x10>;
	rx_delay = <0x10>;
};

&i2c0 {
	status = "okay";

	rk808: pmic@1b {
		compatible = "rockchip,rk808";
		reg = <0x1b>;
		interrupt-parent = <&gpio0>;
		interrupts = <5 IRQ_TYPE_LEVEL_LOW>;
		rockchip,system-power-controller;
		vcc1-supply = <&vcc_sys>;
		vcc2-supply = <&vcc_sys>;
		vcc3-supply = <&vcc_sys>;
		vcc4-supply = <&vcc_sys>;
		vcc6-supply = <&vcc_sys>;
		vcc7-supply = <&vcc_sys>;
		vcc8-supply = <&vcc_sys>;
		vcc9-supply = <&vcc_sys>;
		vcc10-supply = <&vcc_sys>;
		vcc11-supply = <&vcc_sys>;
		vcc12-supply = <&vcc_sys>;
		clock-output-names = "xin32k", "rk808-clkout2";
		#clock-cells = <1>;

		regulators {
			vdd_cpu: DCDC_REG1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1500000>;
				regulator-name = "vdd_cpu";
			};

			vdd_log: DCDC_REG2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1500000>;
				regulator-name = "vdd_log";
			};

			vcc_ddr: DCDC_REG3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "vcc_ddr";
			};

			vcc33_io: DCDC_REG4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcc33_io";
			};

			vcc33_video: LDO_REG2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcc33_video";
			};

			vdd10_pll: LDO_REG3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1000000>;
				regulator-name = "vdd10_pll";
			};

			vcc18_io: LDO_REG4 {
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc18_io";
			};

			vdd10_video: LDO_REG6 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1000000>;
				regulator-name = "vdd10_video";
			};

			vcc18_video: LDO_REG8 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc18_video";
			};
		};
	};
};

&uart0 {
	status = "okay";
};

&spi1 {
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;

	spiflash: w25q32dw@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <49500000>;
		spi-cpol;
		spi-cpha;
	};
};
